<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/header.ejs'); %>
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Codashop - Kebijakan Privasi</title>
</head>

<body>
    <%- include('../layouts/none.ejs'); %>
    <%- include('../layouts/navbar.ejs'); %>

    <div class="site-main" onclick="closeLeftMenu()">
        <br>
        <div class="container">
            <article class=" bg-white p-4">
                <header>
                    <h2 style="text-align: center;"><b>Kebijakan Privasi</b></h2>
                </header>
                <div>
                    <p>
                        Kebijakan privasi ini mengatur tentang kebijakan dan prosedur kami dalam mengumpulkan,
                        menggunakan dan mengungkapkan informasi pengguna dan dengan menggunakan layanan ini pengguna
                        menyetujui pengumpulan, pemindahan data, pemprosesan, penyimpanan, pengungkapan dan penggunaan
                        lainnya yang dijelaskan dalam kebijakan privasi ini.</p>
                    <p>
                        Codashop mengikuti standar yang berlaku secara umum untuk melindungi informasi yang dikirimkan
                        kepada Codashop, baik saat transisi maupun saat menerimanya. Codashop menyadari bahwa informasi
                        pengguna bersifat rahasia dan pribadi, oleh karena itu Codashop berkomitmen untuk menjaga
                        kerahasiaan data tersebut.
                    </p>
                    <h4><b>Informasi yang diterima dari pengguna</b></h4>
                    <p>
                        Informasi yang kami ambil dari pengguna, terbagi dalam dua kategori: 1) data pribadi yang Anda
                        berikan secara sukarela ketika registrasi dan 2) penelusuran informasi yang dikumpulkan ketika
                        Anda menggunakan layanan. Data pribadi tersebut berupa informasi yang berkenaan dengan data
                        pengguna termasuk namun tidak terbatas pada nama, nomor kontak, akun email, dan media sosial.
                    </p>
                    <h4><b>Penggunaan Informasi</b></h4>
                    <p>
                        Codashop akan menggunakan informasi sebagaimana disebut di atas baik informasi individual maupun
                        agregat untuk pelaksanaan layanan ini pada khususnya dan layanan lain Codashop secara
                        keseluruhan, seperti namun tidak terbatas pada perencanaan, penelitian, desain dan pemasaran
                        jasa, memberikan bantuan kepada pihak penegak hukum, pemerintah atau badan hukum atau mematuhi
                        hukum yang berlaku di NKRI ataupun perintah pengadilan. Informasi yang disampaikan di area umum
                        akan menjadi informasi publik. Kami menghimbau pengguna untuk memperhatikan informasi yang
                        diberikan pada halaman publik.
                    </p>
                    <h4><b>Berbagi Informasi dengan Pihak Ketiga</b></h4>
                    <p>
                        Codashop tidak menjual, menyewakan, menukar atau memberikan wewenang kepada pihak ketiga yang
                        tidak berkomitmen untuk menjaga kerahasiaan data pribadi Anda. Namun Codashop terikat kontrak
                        dengan banyak perusahaan lain untuk memberikan berbagai layanan yang memperkaya pengalaman
                        pengguna dalam menggunakan layanan. Perusahaanperusahaan ini dilarang keras untuk
                        menyalahgunakan data-data yang diberikan selain dengan layanan yang berkaitan dengan layanan ini
                        dan mereka tidak diperkenankan membagi atau menjual kembali data ini.
                    </p>
                    <h4><b>Perlindungan dan Keamanan Informasi</b></h4>
                    <p>
                        Untuk mencegah akses data oleh pihak yang tidak memiliki wewenang, menjaga keakuratan data dan
                        memastikan penggunaan informasi yang semestinya, Codashop berkomitmen untuk menjaga keamanan
                        tersebut dengan menggunakan prosedur fisik, elektronik, dan manajerial untuk melindungi
                        informasi yang kami simpan.
                    </p>
                    <h4><b>Kepatuhan pada Proses Hukum</b></h4>
                    <p>
                        Codashop dapat menyampaikan informasi pribadi jika diperintahkan oleh hukum atau dianggap bahwa
                        langkah tersebut adalah perlu dilakukan untuk 1) patuh pada hukum atau proses pengadilan; 2)
                        melindungi dan mempertahankan hak cipta dan hak milik kami; 3) melindungi terhadap
                        penyalahgunaan atau penggunaan tanpa ijin dari situs web kami; atau 4) melindungi keamanan
                        pribadi atau properti atas pengguna kami atau publik (di antara hal lainnya, hal ini berarti
                        jika Anda memberikan informasi palsu atau berpura-pura menjadi orang lain, informasi mengenai
                        diri Anda dapat kami sampaikan sebagai bagian dari penyelidikan atas tindakan Anda).
                    </p>
                    <h4><b>Informasi Lainnya</b></h4>
                    <p>
                        Kebijakan privasi ini dapat diubah atau ditambah sewaktu-waktu. Setiap perubahan akan
                        ditampilkan di halaman ini. Oleh karenanya kami menghimbau pengguna untuk mengakses halaman ini
                        secara berkala untuk mengetahui perubahannya (apabila ada).
                    </p>
                    <br>
                    <p>
                        Dengan menggunakan layanan ini, pengguna dianggap telah menyetujui ketentuan kebijakan privasi
                        ini. Apabila pengguna tidak setuju dengan Kebijakan Privasi ini, pengguna dipersilahkan untuk
                        berhenti menggunakan layanan Codashop.
                    </p>
                </div>
            </article>
        </div>
    </div>
    <br><br>
    <%- include('../layouts/footer.ejs'); %>
    <script src="assets/js/main.js"></script>
</body>

</html>