<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/logo/web.png" />

    <!-- CSS only bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- end -->

    <!-- end -->
    <link rel="stylesheet" href="../assets/css/member.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <title>Masuk - Codashop</title>
</head>

<body>
    <%- include('../layouts/none.ejs'); %>
    <div class="container-login">
        <div class="form-signin">
            <div class="bg-white cbm-section-shadow rounded-3 form-sign-area">
                <div class="text-center mb-4">
                    <a href="/">
                        <img src="../assets/images/logo/logo-a.png" height="39">
                    </a>
                </div>
                <% if(success_msg !=''){ %>
                <div class="alert alert-success alert-dismissible fade show" style="font-size: 80%;text-align:center;"
                    role="alert">
                    <strong><%= success_msg %></strong>

                </div>
                <% } %>
                <form action="/auth/login" method="post">
                    <div class="row g-3">
                        <div class="fields-form on-progress">
                            <div class="row g-3">
                                <div class="col-12">
                                    <label for="phone_number" class="form-label">Nomor Whatsapp</label>
                                    <input type="number" class="form-control" id="phone_number"
                                        placeholder="Nomor WhatsApp [628xxxxxxx]" name="phone_number" required>
                                </div>
                                <div class="col-12">
                                    <div class="float-end">
                                        <% if (locals.error) { %>
                                        <a href="../lupa-kata-sandi" class="text-primary text-decoration-none"
                                            style="font-size:0.8rem!important; color: #280031!important;"><b>Lupa Kata
                                                Sandi?</b></a>
                                        <% } else { %>
                                        <a href="lupa-kata-sandi" class="text-primary text-decoration-none"
                                            style="font-size:0.8rem!important; color: #280031!important;"><b>Lupa Kata
                                                Sandi?</b></a>
                                        <% } %>
                                    </div>
                                    <label for="password" class="form-label">Kata Sandi</label>
                                    <div class="form-group-password">
                                        <input type="password" class="form-control" id="password" name="password"
                                            required>
                                        <input type="checkbox" class="form-label" onclick="myFunction()"> Show Password
                                    </div>
                                </div>
                                <% if (locals.error) { %>
                                <span class="text-danger pl-2"
                                    style="text-align: center;font-size:0.9rem!important"><%= error %></span>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-12">
                            <input type="submit" class="w-100 btn"
                                style="background-color: #280031!important;color: white;" name="submit" value="login">
                        </div>
                        <div class="mt-3 text-muted text-center" style="font-size:0.9rem!important">
                            Belum punya akun?
                            <% if (locals.error) { %>
                            <a href="../register" class=" text-decoration-none"
                                style="color: #280031!important;"><b>Daftar</b></a>
                            <% } else { %>
                            <a href="register" class=" text-decoration-none"
                                style="color: #280031!important;"><b>Daftar</b></a>
                            <% } %>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    </div>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/pw.js"></script>
</body>

</html>