<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/header.ejs'); %>
    <link rel="stylesheet" href="assets/css/member.css">
    <title>Codashop - Lupa Kata Sandi</title>
</head>

<body>
    <div class="container-login">
        <div class="form-signin">

            <div class="bg-white cbm-section-shadow rounded-3 form-sign-area">
                <div class="text-center mb-4">
                    <a href="/">
                        <img src="assets/images/logo/logo-a.png" height="39">
                    </a>
                </div>
                <form>
                    <div class="row g-3">
                        <div class="fields-form on-progress">
                            <div class="row g-3">
                                <div class="col-12">
                                    <label for="Number" class="form-label">Lupa Kata Sandi</label>
                                    <div class="alert alert-success text-center" role="alert"
                                        style="font-size:0.9rem!important">
                                        Tautan reset telah dikirim ke Nomor WhatsApp Anda. Silakan periksa pesan Anda!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>