<!-- Entertainment -->
<div class="container" id="Entertainment">
    <br>
    <div class="mb-3 text-center">
        <h2 class="display-6 fw-600 fs-2" style="color: white;font-family: 'TitanOne';"><b>Entertainment</b></h2>
    </div>
    <div class="row row-cols-3 row-cols-md-5 g-3 justify-content-center">

        <!-- WeTV -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="WeTV">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/wetv.jpg" class="card-img-top" title="WeTV">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">WeTV</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end -->

        <!-- IQIYI -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="IQIYI">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/iqiyi.png" class="card-img-top" title="IQIYI">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">IQIYI</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end -->

        <!-- Bstation -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Bstation">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/bstation.jpg" class="card-img-top" title="Bstation">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Bstation</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end -->

        <!-- Spotify -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Spotify">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/spotify.jpg" class="card-img-top" title="Spotify">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Spotify Premium Voucher</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end -->

        <!-- NimoTV -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="NimoTV">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/nimo.png" class="card-img-top" title="NimoTV">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Nimo TV</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end -->

    </div>
</div>
<!-- end entertainment -->