<div data-v-24b86abb="" class="coda-about__content" style="color: white;">
    <h1 data-v-24b86abb="" class="coda-about__header" style="font-family: 'TitanOne'!important;">Codashop Indonesia</h1>
    <h2 data-v-24b86abb="" class="coda-about__sub-header">Codashop: Website top-up terbesar, tercepat dan terpercaya di
        Indonesia</h2>
    <p data-v-24b86abb="" class="coda-about__short-description">Setiap bulannya, jutaan gamers menggunakan Codashop
        untuk melakukan pembelian kredit game dengan lancar: tanpa registrasi ataupun log-in, dan kredit permainan akan
        ditambahkan secara instan. Top-up Mobile Legends, Free Fire, Ragnarok M, dan berbagai game lainnya!</p>
    <article data-v-24b86abb="" class="coda-about__card-group">
        <div data-v-7e34a1fb="" data-v-24b86abb="" class="coda-about__card-container">
            <div data-v-7e34a1fb="" class="coda-about__card-icon-container"><img data-v-7e34a1fb="" alt="Quick icon"
                    src="https://cdn1.codashop.com/S/content/mobile/images/reskin/usp-icons/easy_and_fast_portal.png"
                    height="36" width="36" class="coda-about__card-icon"></div>
            <div data-v-7e34a1fb="" class="coda-about__card-content">
                <h3 data-v-7e34a1fb="" class="coda-about__card-title">Bayar dalam hitungan detik</h3>
                <p data-v-7e34a1fb="" class="coda-about__card-description">Hanya dibutuhkan beberapa detik saja untuk
                    menyelesaikan pembayaran di Codashop karena situs kami berfungsi dengan baik dan mudah untuk
                    digunakan.</p>
            </div>
        </div>
        <div data-v-7e34a1fb="" data-v-24b86abb="" class="coda-about__card-container">
            <div data-v-7e34a1fb="" class="coda-about__card-icon-container"><img data-v-7e34a1fb="" alt="Delivery icon"
                    src="https://cdn1.codashop.com/S/content/mobile/images/reskin/usp-icons/instant_delivery_portal.png"
                    height="36" width="36" class="coda-about__card-icon"></div>
            <div data-v-7e34a1fb="" class="coda-about__card-content">
                <h3 data-v-7e34a1fb="" class="coda-about__card-title">Pengiriman instan</h3>
                <p data-v-7e34a1fb="" class="coda-about__card-description">Ketika kamu melakukan top-up di Codashop,
                    item atau barang yang kamu beli akan selalu dikirim ke akun kamu secara instan dan cepat, tanpa
                    tertunda.</p>
            </div>
        </div>
        <div data-v-7e34a1fb="" data-v-24b86abb="" class="coda-about__card-container">
            <div data-v-7e34a1fb="" class="coda-about__card-icon-container"><img data-v-7e34a1fb="" alt="Payments icon"
                    src="https://cdn1.codashop.com/S/content/mobile/images/reskin/usp-icons/payment_method_portal.png"
                    height="36" width="36" class="coda-about__card-icon"></div>
            <div data-v-7e34a1fb="" class="coda-about__card-content">
                <h3 data-v-7e34a1fb="" class="coda-about__card-title">Metode pembayaran terbaik</h3>
                <p data-v-7e34a1fb="" class="coda-about__card-description">Kami menawarkan begitu banyak pilihan
                    pembayaran mulai dari potong pulsa, e-wallet, bank transfer, dan pembayaran di mini market terdekat.
                </p>
            </div>
        </div>
        <div data-v-7e34a1fb="" data-v-24b86abb="" class="coda-about__card-container">
            <div data-v-7e34a1fb="" class="coda-about__card-icon-container"><img data-v-7e34a1fb=""
                    alt="Customer Support"
                    src="https://cdn1.codashop.com/S/content/mobile/images/reskin/usp-icons/customer_support_portal.png"
                    height="36" width="36" class="coda-about__card-icon"></div>
            <div data-v-7e34a1fb="" class="coda-about__card-content">
                <h3 data-v-7e34a1fb="" class="coda-about__card-title">Layanan Pelanggan Cepat &amp; Ramah</h3>
                <p data-v-7e34a1fb="" class="coda-about__card-description">Tim CS terbaik kami selalu siap membantumu
                    kapanpun, di manapun. <a href="https://id.support.codashop.com/hc/en-us" target="_blank"
                        style="color: #e8f953;">Hubungi
                        kami!</a></p>
            </div>
        </div>
        <div data-v-7e34a1fb="" data-v-24b86abb="" class="coda-about__card-container">
            <div data-v-7e34a1fb="" class="coda-about__card-icon-container"><img data-v-7e34a1fb="" alt="Promo icon"
                    src="https://cdn1.codashop.com/S/content/mobile/images/reskin/usp-icons/promotion_portal.png"
                    height="36" width="36" class="coda-about__card-icon"></div>
            <div data-v-7e34a1fb="" class="coda-about__card-content">
                <h3 data-v-7e34a1fb="" class="coda-about__card-title">Promosi-promosi menarik</h3>
                <p data-v-7e34a1fb="" class="coda-about__card-description">Penggemar game dapat bergantung pada Codashop
                    karena kami memberikan penawaran menarik, diskon dan kode item dari promosi game yang disukai kamu.
                </p>
            </div>
        </div>
        <div data-v-7e34a1fb="" data-v-24b86abb="" class="coda-about__card-container">
            <div data-v-7e34a1fb="" class="coda-about__card-icon-container"><img data-v-7e34a1fb="" alt="Referral Icon"
                    src="https://cdn1.codashop.com/S/content/mobile/images/reskin/usp-icons/referral_usp.png"
                    height="36" width="36" class="coda-about__card-icon"></div>
            <div data-v-7e34a1fb="" class="coda-about__card-content">
                <h3 data-v-7e34a1fb="" class="coda-about__card-title">Dapatkan Lebih Banyak Keuntungan: Ikuti Program
                    Referral Kami Sekarang!</h3>
                <p data-v-7e34a1fb="" class="coda-about__card-description">Dapatkan hadiah dengan berbagi cinta! Undang
                    teman dan dapatkan diskon 2500 IDR setelah temanmu melakukan pembelian pertama produk Topup!
                    Kunjungi <a href="https://id.support.codashop.com/hc/id-id/articles/6982799548175" target="_blank"
                        style="color: #e8f953;">FAQ</a> dan <a
                        href="https://www.codapayments.com/terms-conditions/codashop-id-referral-mechanics"
                        target="_blank" style="color: #e8f953;">S&amp;K</a> kami untuk mempelajari lebih lanjut tentang
                    program referral kami,
                    dan mulailah dapatkan hadiah sekarang.</p>
            </div>
        </div>
    </article>
</div>

<!-- deskripsi -->
<div class="desc">

    <div class="container">
        <div class="row pt-5 pb-4 mt-4 border-top justify-content-center">

            <div class="col-lg-4 col-12">
                <h5><b>Butuh Bantuan?</b></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="game" class="text-decoration-none p-0 "
                            style="font-size: medium;">Hubungi Kami</a></li>
                    <br>
                </ul>
            </div>

            <div class="col-lg-4 col-12">
                <h5><b>Area</b></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/" class="text-decoration-none p-0 " style="font-size: medium;">
                            <img src="assets/images/logo/id.png" class="logo" alt=".." width="25">
                            Indonesia
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-12">
                <h5><b>Dapatkan Berita Coda di:</b></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a><img src="assets/images/logo/fb.png" class="logo" alt=".." width="25"></a>
                        <a><img src="assets/images/logo/yt.png" class="logo" alt=".." width="25"></a>
                        <a><img src="assets/images/logo/ig.png" class="logo" alt=".." width="25"></a>
                        <a><img src="assets/images/logo/tiktok.png" class="logo" alt=".." width="25"></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end deskripsi -->

<div class="footer mt-auto border-top">
    <br>
    <footer>
        <div class="footer-copyright" style="color: white;">
            <p>© 2022. All Rights Reserved</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="assets/js/value.js"></script>
<script src="https://kit.fontawesome.com/695144269c.js" crossorigin="anonymous"></script>