<!-- Game -->
<div class="container" id="Game">
    <br>
    <div class="mb-3 text-center">
        <h2 class="display-6 fw-600 fs-2" style="color: white;font-family: 'TitanOne';"><b>Game</b></h2>
    </div>
    <div class="row row-cols-3 row-cols-md-5 g-3 justify-content-center">

        <!-- AOV -->
        <article>
            <a class="text-decoration-none text-reset nm-kategori" href="arena-of-valor" title="Arena of Valor">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/aov.png" class="card-img-top" title="Arena of Valor">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Arena of Valor</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end AOV -->

        <!-- AU2 Mobile -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="AU2 Mobile">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/au2-mobile.jpg" class="card-img-top" title="AU2 Mobile">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">AU2 Mobile</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end AU2 Mobile -->

        <!-- Call of Duty Mobile -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Call of Duty Mobile">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/codm.jpg" class="card-img-top" title="Call of Duty Mobile">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Call of Duty Mobile</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Call of Duty Mobile -->

        <!-- Cloud Song -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Cloud Song">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/cloud song.png" class="card-img-top" title="Cloud Song">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Cloud Song</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Cloud Song -->

        <!-- Footbal Master 2 -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Football Master 2">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/footbal.jpg" class="card-img-top" title="Football Master 2">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Football Master 2</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Footbal Master 2 -->

        <!-- Free Fire -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Free Fire">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/ff.webp" class="card-img-top" title="Free Fire">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Free Fire</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Free Fire -->

        <!-- Genshin Impact -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Genshin Impact">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/genshin-impact.webp" class="card-img-top" title="Genshin Impact">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Genshin Impact</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Genshin Impact -->

        <!-- Hyper Front -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Hyper Front">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/Hyper Front.jpeg" class="card-img-top" title="Hyper Front">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Hyper Front</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Hyper Front -->

        <!-- Laplace -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Laplace">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/laplace.jpg" class="card-img-top" title="Laplace">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Laplace</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Laplace -->

        <!-- LifeAfter -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="LifeAfter">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/lifeafter.webp" class="card-img-top" title="LifeAfter">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">LifeAfter</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end LifeAfter -->

        <!-- Lokapala -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Lokapala">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/Lokapala.webp" class="card-img-top" title="Lokapala">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Lokapala</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Lokapala -->

        <!-- Lords Mobile -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Lords Mobile">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/Lords Mobile.jpg" class="card-img-top" title="Lords Mobile">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Lords Mobile</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Lords Mobile -->

        <!-- Mobile Legends -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Mobile Legends">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/mlbb.webp" class="card-img-top" title="Mobile Legends">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Mobile Legends</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Mobile Legends -->

        <!-- Omega Legends -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Omega Legends">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/Omega Legends.jpg" class="card-img-top" title="Omega Legends">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Omega Legends</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Omega Legends -->

        <!-- Point Blank -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Point Blank">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/Point Blank.jpg" class="card-img-top" title="Point Blank">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Point Blank</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Point Blank -->

        <!-- PUBG Mobile -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="PUBG Mobile">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/PUBG Mobile.png" class="card-img-top" title="PUBG Mobile">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">PUBG Mobile</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end PUBG Mobile -->

        <!-- Speed Drifters -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Speed Drifters">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/Speed Drifters.jpg" class="card-img-top" title="Speed Drifters">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Speed Drifters</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Speed Drifters -->

        <!-- Tom and Jerry:Chase -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Tom and Jerry:Chase">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/Tom and Jerry.png" class="card-img-top"
                            title="Tom and Jerry:Chase">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Tom and Jerry: Chase</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end tom and jerry -->

        <!-- Tower of Fantasy -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Tower of Fantasy">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/Tower of Fantasy.jpg" class="card-img-top"
                            title="Tower of Fantasy">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Tower of Fantasy</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Tower of Fantasy -->

        <!-- Werewolf -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Werewolf">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/Werewolf.jpg" class="card-img-top" title="Werewolf">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Werewolf</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Werewolf -->

    </div>
</div>
<!-- end game -->