<div id="list-payment-method" class="card border-0 cbm-section-shadow mb-4 bg-white rounded-5 product-form-input-order">
    <div class="card-body">
        <div class="d-flex align-items-center mb-3" style="justify-content: left!important;">
            <div class="number-form">3</div>
            <h4 class="mb-0 ms-2 fw-600">Pilih pembayaran</h4>
        </div>
        <div class="area-list-payment-method">

            <!-- pay retail -->
            <div class="child-box payment-drawwer">
                <div class="header short-payment-support-info-head" onclick="openPaymentDrawer(this)">
                    <div class="left">
                        <b><i class="fas fa-store"></i> Retail Outlet</b>
                    </div>
                    <div class="right" id="price_retail"></div>
                </div>
                <div class="btn-group button-action-payment">
                    <div class="row row-cols-lg-2 row-cols-sm-1 list-payment-method">

                        <!-- Alfamart -->
                        <div class="col-lg-6 mt-3">
                            <div class="list-group">
                                <input type="radio" class="btn-check" name="payment" id="alfamart" value="alfamart"
                                    autocomplete="off">
                                <label class="btn btn-topup" for="alfamart">
                                    <div class="payment-item">
                                        <div class="info-top">
                                            <img src="assets/images/payment/alfamart.svg">
                                            <a style="color: black;" id="price_alfamart"></a>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="info-bottom" style="color: black;">
                                                Alfamart</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- end -->

                        <!-- Alfamidi -->
                        <div class="col-lg-6 mt-3">
                            <div class="list-group">
                                <input type="radio" class="btn-check" name="payment" id="Alfamidi" value="alfamidi"
                                    autocomplete="off">
                                <label class="btn btn-topup" for="Alfamidi">
                                    <div class="payment-item">
                                        <div class="info-top">
                                            <img src="assets/images/payment/alfamidi.svg">
                                            <a style="color: black;" id="price_alfamidi"></a>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="info-bottom" style="color: black;">
                                                Alfamidi</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- end -->

                        <!-- Indomaret -->
                        <div class="col-lg-6 mt-3">
                            <div class="list-group">
                                <input type="radio" class="btn-check" name="payment" id="Indomaret" value="indomaret"
                                    autocomplete="off">
                                <label class="btn btn-topup" for="Indomaret">
                                    <div class="payment-item">
                                        <div class="info-top">
                                            <img src="assets/images/payment/indomaret.svg">
                                            <a style="color: black;" id="price_indomaret">Rp10.000</a>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="info-bottom" style="color: black;">
                                                Indomaret</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- end -->

                    </div>
                </div>
                <div class="short-payment-support-info-container">
                    <div class="short-payment-support-info" onclick="openPaymentDrawer(this)">
                        <img src="assets/images/payment/alfamart.svg">
                        <img src="assets/images/payment/alfamidi.svg">
                        <img src="assets/images/payment/indomaret.svg">

                    </div>
                    <a class="open-button-action-payment">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </div>
            </div>
            <!-- end Retail -->

            <!-- E-wallet -->
            <div class="child-box payment-drawwer">
                <div class="header short-payment-support-info-head" onclick="openPaymentDrawer(this)">
                    <div class="left">
                        <b><i class="fas fa-wallet"></i> E-Wallet</b>
                    </div>
                    <div class="right" id="price_ewallet"></div>
                </div>
                <div class="button-action-payment">

                    <div class="row row-cols-lg-2 row-cols-sm-1 list-payment-method">

                        <!-- Gopay -->
                        <div class="col-lg-6 mt-3">
                            <div class="list-group">
                                <input type="radio" class="btn-check" name="payment" id="Gopay" value="gopay"
                                    autocomplete="off">
                                <label class="btn btn-topup" for="Gopay">
                                    <div class="payment-item">
                                        <div class="info-top">
                                            <img src="assets/images/payment/gopay.svg">
                                            <a style="color: black;" id="price_gopay"></a>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="info-bottom" style="color: black;">
                                                Gopay</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- end -->

                        <!-- LinkAja  -->
                        <div class="col-lg-6 mt-3">
                            <div class="list-group">
                                <input type="radio" class="btn-check" name="payment" id="LinkAja" value="linkaja"
                                    autocomplete="off">
                                <label class="btn btn-topup" for="LinkAja">
                                    <div class="payment-item">
                                        <div class="info-top">
                                            <img src="assets/images/payment/linkaja.svg">
                                            <a style="color: black;" id="price_linkaja"></a>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="info-bottom" style="color: black;">
                                                LinkAja</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- end -->

                        <!-- shopeepay  -->
                        <div class="col-lg-6 mt-3">
                            <div class="list-group">
                                <input type="radio" class="btn-check" name="payment" id="ShopeePay" value="shopeepay"
                                    autocomplete="off">
                                <label class="btn btn-topup" for="ShopeePay">
                                    <div class="payment-item">
                                        <div class="info-top">
                                            <img src="assets/images/payment/shopeepay.svg">
                                            <a style="color: black;" id="price_shopeepay"></a>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="info-bottom" style="color: black;">
                                                ShopeePay</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- end -->

                        <!-- ovo -->
                        <div class="col-lg-6 mt-3">
                            <div class="list-group">
                                <input type="radio" class="btn-check" name="payment" id="OVO" value="ovo"
                                    autocomplete="off">
                                <label class="btn btn-topup" for="OVO">
                                    <div class="payment-item">
                                        <div class="info-top">
                                            <img src="assets/images/payment/ovo.svg">
                                            <a style="color: black;" id="price_ovo"></a>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="info-bottom" style="color: black;">
                                                OVO</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- end -->

                        <!-- Dana  -->
                        <div class="col-lg-6 mt-3">
                            <div class="list-group">
                                <input type="radio" class="btn-check" name="payment" id="DANA" value="dana"
                                    autocomplete="off">
                                <label class="btn btn-topup" for="DANA">
                                    <div class="payment-item">
                                        <div class="info-top">
                                            <img src="assets/images/payment/dana.svg">
                                            <a style="color: black;" id="price_dana"></a>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="info-bottom" style="color: black;">
                                                DANA</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- end -->

                        <!-- QRIS -->
                        <!-- <div class="col-lg-6 mt-3">
                            <div class="list-group">
                                <input type="radio" class="btn-check" name="payment" id="QRIS" value="qris"
                                    autocomplete="off">
                                <label class="btn btn-topup"   for="QRIS">
                                    <div class="payment-item">
                                        <div class="info-top">
                                            <img src="assets/images/payment/qris.svg">
                                            <a style="color: black;" id="price_qris"></a>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="info-bottom" style="color: black;">
                                                QRIS</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div> -->
                        <!-- end -->
                    </div>
                </div>
                <div class="short-payment-support-info-container">
                    <div class="short-payment-support-info" onclick="openPaymentDrawer(this)">
                        <img src="assets/images/payment/gopay.svg" alt="GoPay" id="payment_methodIMG-QRISC">
                        <img src="assets/images/payment/linkaja.svg" alt="LinkAja!" id="payment_methodIMG-QRISC">
                        <img src="assets/images/payment/shopeepay.svg" alt="ShopeePay" id="payment_methodIMG-QRISC">
                        <img src="assets/images/payment/ovo.svg" alt="OVO" id="payment_methodIMG-OV">
                        <img src="assets/images/payment/dana.svg" alt="Dana" id="payment_methodIMG-DA">
                        <!-- <img src="assets/images/payment/qris.svg" alt="QRIS" id="payment_methodIMG-QRISC"> -->

                    </div>
                    <a class="open-button-action-payment">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </div>
            </div>
            <!-- end ewallet -->

            <!-- bank -->
            <div class="child-box payment-drawwer">
                <div class="header short-payment-support-info-head" onclick="openPaymentDrawer(this)">
                    <div class="left">
                        <b><i class="fas fa-university"></i> Bank Transfer</b>
                    </div>
                    <div class="right" id="price_bank"></div>
                </div>
                <div class="button-action-payment">
                    <div class="row row-cols-lg-2 row-cols-sm-1 list-payment-method">

                        <!-- BCA -->
                        <div class="col-lg-6 mt-3">
                            <div class="list-group">
                                <input type="radio" class="btn-check" name="payment" id="BCA" value="bca"
                                    autocomplete="off">
                                <label class="btn btn-topup" for="BCA">
                                    <div class="payment-item">
                                        <div class="info-top">
                                            <img src="assets/images/payment/bca.svg">
                                            <a style="color: black;" id="price_bca"></a>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="info-bottom" style="color: black;">
                                                Bank BCA</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- end -->

                        <!-- BRI -->
                        <div class="col-lg-6 mt-3">
                            <div class="list-group">
                                <input type="radio" class="btn-check" name="payment" id="BRI" value="bri"
                                    autocomplete="off">
                                <label class="btn btn-topup" for="BRI">
                                    <div class="payment-item">
                                        <div class="info-top">
                                            <img src="assets/images/payment/bri.svg">
                                            <a style="color: black;" id="price_bri"></a>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="info-bottom" style="color: black;">
                                                Bank BRI</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- end -->

                        <!-- BNI -->
                        <div class="col-lg-6 mt-3">
                            <div class="list-group">
                                <input type="radio" class="btn-check" name="payment" id="BNI" value="bni"
                                    autocomplete="off">
                                <label class="btn btn-topup" for="BNI">
                                    <div class="payment-item">
                                        <div class="info-top">
                                            <img src="assets/images/payment/bni.svg">
                                            <a style="color: black;" id="price_bni">Rp10.000</a>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="info-bottom" style="color: black;">
                                                Bank BNI</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- end -->

                        <!-- MANDIRI -->
                        <div class="col-lg-6 mt-3">
                            <div class="list-group">
                                <input type="radio" class="btn-check" name="payment" id="MANDIRI" value="mandiri"
                                    autocomplete="off">
                                <label class="btn btn-topup" for="MANDIRI">
                                    <div class="payment-item">
                                        <div class="info-top">
                                            <img src="assets/images/payment/mandiri.svg">
                                            <a style="color: black;" id="price_mandiri">Rp10.000</a>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="info-bottom" style="color: black;">
                                                MANDIRI</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- end -->
                    </div>
                </div>
                <div class="short-payment-support-info-container">
                    <div class="short-payment-support-info" onclick="openPaymentDrawer(this)">
                        <img src="assets/images/payment/bca.svg" alt="Bank BCA" id="payment_methodIMG-BANK_BCA">
                        <img src="assets/images/payment/bri.svg" alt="Bank BRI" id="payment_methodIMG-BANK_BRI">
                        <img src="assets/images/payment/bni.svg" alt="Bank BNI" id="payment_methodIMG-BANK_BNI">
                        <img src="assets/images/payment/mandiri.svg" alt="Bank Mandiri" id="payment_methodIMG-BANK_BNI">

                    </div>
                    <a class="open-button-action-payment">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </div>
            </div>
            <!-- end bank -->
        </div>
    </div>
</div>

<% if (locals.isLoggedIn) { %>
<div class="float-end" style="width: 20%;">
    <input type="hidden" name="action" value="login">
    <button id="login-submit" class="btn"
        style="color: black; background-color: white;border-radius: 20px; margin: 5px;width: 100%;" type="submit"
        onclick="return radioValidation();">
        Beli
    </button>
</div>
<% } else { %>
<div class="card border-0 cbm-section-shadow mb-4 bg-white rounded-5 product-form-input-order">
    <div class="card-body">
        <div class="row g-3">
            <div class="d-flex align-items-center" style="justify-content: left!important;">
                <div class="number-form">4</div>
                <h4 class="mb-0 ms-2 fw-600">Beli!</h4>

            </div>
            <div class="form-group">
                <label for="name" class="form-label">Nama Lengkap</label>
                <input type="text" class="form-control" id="name" placeholder="AsdarrID" name="name" required>
            </div>
            <div class="form-group">
                <label for="phone_number" class="form-label">Nomor Whatsapp</label>
                <input type="number" class="form-control" id="phone_number" placeholder="Nomor WhatsApp [628xxxxxxx]"
                    name="phone_number" required>
            </div>
        </div>
        <br>
        <div class="float-end" style="width: 20%;">
            <input type="hidden" name="action" value="login">
            <button id="login-submit" class="btn "
                style="color: white; background-color: #6242fc;border-radius: 20px; margin: 5px;width: 100%;"
                type="submit" onclick="return radioValidation();">
                Beli
            </button>
        </div>
    </div>
</div>
<% } %>