<!-- Voucher -->
<div class="container" id="Voucher">
    <br>
    <div class="mb-3 text-center">
        <h2 class="display-6 fw-600 fs-2" style="color: white;font-family: 'TitanOne';"><b>Voucher</b></h2>
    </div>
    <div class="row row-cols-3 row-cols-md-5 g-3 justify-content-center">

        <!-- Garena Shell -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Garena Shell">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/Garena Shell.jpg" class="card-img-top" title="Garena Shell">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Garena Shell</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end Garena Shell -->

        <!-- Megaxus -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Megaxus">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/megasus.jpg" class="card-img-top" title="Megaxus">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Megaxus</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end -->

        <!-- PUBG -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="PUBG">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/pubgm.jpg" class="card-img-top" title="PUBG Mobile UC Voucher">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">PUBG Mobile UC Voucher</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end -->

        <!-- Honkai -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Honkai">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/honkai.jpg" class="card-img-top"
                            title="Honkai:Star Rail(Voucher Code)">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Honkai:Star Rail (Voucher Code)</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end -->

        <!-- Lego -->
        <article>
            <a class="text-decoration-none text-reset" href="" title="Lego">
                <div class="card cbm-section-shadow rounded-3 border-0 h-100 overflow-hidden">
                    <div class="card-img-relative">
                        <img src="assets/images/game/lego.jpg" class="card-img-top" title="Lego 2K Drive">
                    </div>
                    <div class="row card-body text-center align-items-center" style="background-color: #36213d;">
                        <div class="col-12">
                            <h3 class="entry-title">Lego 2K Drive</h3>

                        </div>
                    </div>
                </div>
            </a>
        </article>
        <!-- end -->

    </div>
</div>
<!-- end voucher -->